{% extends 'base.jinja' %}
{% block head %}
<meta charset="UTF-8">
<title>Forgot Password - Coding for Kidz</title>
{% endblock %}
{% block body %}
<center>
    <h1>Forgot Password</h1>
    <form action="auth.forgot_password">
        <div class="mb-3" id="username-box">
            <label class="col-form-label" for="username">Username</label>
            <br>
            <div class="col-sm-3">
                <input class="form-control" id="username" name="username" required value="{{username}}">
            </div>
        </div>
        <br>
        <button class="btn btn-primary" id="submit">Get Passcode</button>
        <br><a href="/forgot-username">Forgot username?</a>
    </form>
</center>
{{ error }}
{% endblock %}
{% block script %}
{% endblock %}
