<!DOCTYPE html>
<html lang="en">
<head>
    <title>Privacy Policy of Coding for Kidz</title>

    <meta content="en" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="Privacy Policy of Coding for Kidz" itemprop="name">
    <meta content="This Application collects some Personal Data from its Users." itemprop="description">
    <meta content="en" name="locale">
    <meta content="This Application collects some Personal Data from its Users." name="title">
    <meta content="This Application collects some Personal Data from its Users." name="description">
    <meta content="summary" name="twitter:card">
    <meta content="Privacy Policy of Coding for Kidz" name="twitter:title">
    <meta content="This Application collects some Personal Data from its Users." name="twitter:description">
    <meta content="Privacy Policy of Coding for Kidz" property="og:title">
    <meta content="This Application collects some Personal Data from its Users." property="og:description">
    <meta content="en" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="width=device-width" name="viewport">
    <meta content="noindex, follow" name="robots">

</head>
<body>
<a href="/">Back to the home page</a><br>
<div style="text-align: center">
    <h1>Privacy Policy of <i><a href="https://coding-for-kidz.herokuapp.com">Coding for Kidz</a></i></h1>
</div>
<p>This Application collects some Personal Data from its Users.</p><br>
<p>The product refers to Coding for Kidz. You, refers to the consumer of the product. User refers to the consumer of
    Coding for Kidz</p>
<div style="text-align: center">
    <h2>Types of Data Collected</h2>
</div>
<p>This site collects the following information when the user accesses any webpage.</p>
<ul>
    <li>The user's ip address.</li>
    <li>The user's time of access.</li>
    <li>The user's http header, which might contain and is not limited to the following:

        <ul>
            <li>The user's Internet Protocol (IP) address</li>
            <li>The user's browser</li>
            <li>The user's browser's version</li>
            <li>The user's Operating System name and version</li>
            <li>The user's Hardware</li>
        </ul>
    </li>
</ul>
<div style="text-align: center">
    <h2>Data Sharing</h2>
</div>
Coding for kidz shares <b>but does not sell</b> information to third parties only when you encounter an internal server
error.
<div style="text-align: center">
    <h2>Data Retention</h2>
</div>
<p>Coding for Kidz does not retain personally identifying information about the user for more than 12 months unless the
    user granted Coding for Kidz permission. Third parties might have different data retention policies.</p>
</body>
</html>
