<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coding for Kidz - Terms of Service</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Terms of Services for Coding for Kidz" name="description">
    <meta content="Ashwin Naren" name="author">
    <link href="/favicon.ico" rel="icon">
</head>
<body>
<p>This service is provided AS IS and without warranty of any kind. Coding for Kidz is not responsible for any
    damage or loss caused by the use of this service.</p><br>
<p>Coding for Kidz reserves the right to deny services to any individual.</p>
<a href="/">Back to the home page</a><br>
</body>
</html>