{% extends 'base.jinja' %}
{% block head %}
<title>Report error - Coding for kidz</title>
{% endblock %}
{% block body %}
<center>
    <h1>Report Page Not Found Error</h1>
    <form>
        <div class="mb-3">
            <label for="url">URL:</label>
            <input id="url" type="url">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit Error Report</button>
    </form>
</center>
{% endblock %}
{% block script %}
{% endblock %}
