{% extends base.jinja %}
{% block head %}
<title>Report Page not Found Error - Coding for Kidz</title>
{% endblock %}
{% block body %}
<h1>Report Page not Found Error</h1>
<form>
    <br><label for="describe-the-error">Describe the error</label><br>
    <br><input id="describe-the-error" name="describe-the-error" required type="text"><br>
    <br><label for="what-is-the-url">What is the url?</label><br>
    <br><input id="what-is-the-url" name="what-is-the-url" required type="text"><br>
    <br><input type="submit" value="Submit"><br>
</form>
{% endblock %}
{% block script %}
{% endblock %}
