{% extends 'base.jinja' %}
{% block head %}
<title>Learn - Coding for kidz</title>
<meta name="The learn page of the Coding for Kidz website">
<meta content="The learn page of the Coding for Kidz website" property=”og:title”/>
<style>
        .padding {
            margin: 20px;
        }

</style>
{% endblock %}
{% block body %}
{% if not current_user.is_authenticated %}
<div class="alert alert-primary" role="alert">
    You are not signed in, so your progress will not be saved.
    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" style="float:right" type="button"></button>
</div>
{% elif current_user.admin >= 3 %}
<a href="/admin-site/lesson/create/">Create a lesson</a><br>
<a href="/admin-site/create-folder/">Create a folder</a>
{% endif %}
<h1>Learn</h1>
{% if current_user.is_authenticated %}
<h2>For you</h2>
{% endif %}
{% for course in lessons_for_you %}
<div class="col-md-4">
    <a href={% if current_user.admin >= 3 %}"/admin-site/lesson/edit/{{ course.lesson_id }}"{% else %}"/lesson/{{ course.lesson_id }}/"{% endif %} style="color: black;">
        <div class="card">
            <img alt="Card Image Top" class="card-img-top" src="{{ course.image }}">
            <div class="card-body">
                <h4 class="card-title">{{ course.title }}</h4>
                <div class="card-subtitle">{{ course.subtitle }}</div>
            </div>
        </div>
    </a>
</div>
{% endfor %}
<h2>Courses</h2>
<div class="row">
    {% for course in all_folders %}
    <div class="col-md-2 padding">
        <a class="no-underline" href="{{ course.link }}" style="color: black;">
            <div class="card">
                <img alt="Card Image Top" class="card-img-top" src="{{ course.image }}">
                <div class="card-body">
                    <h4 class="card-title">{{ course.title }}</h4>
                    <div class="card-subtitle">{{ course.subtitle }}</div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<h2>All Lessons</h2>
<div class="row">
    {% for course in all_lessons %}
    <div class="col-md-2 padding">
        <a class="no-underline" href="{{ course.link }}" style="color: black;">
            <div class="card">
                <img alt="Card Image Top" class="card-img-top" src="{{ course.image }}">
                <div class="card-body">
                    <h4 class="card-title">{{ course.title }}</h4>
                    <div class="card-subtitle">{{ course.subtitle }}</div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    $("#learn").addClass('active');

</script>
{% endblock %}