{% extends 'base.jinja' %}
{% block head %}
<title>I am a Teapot - Coding for kidz</title>
{% endblock %}
{% block body %}
This page is top secret, maybe if you do ten {{ exercise }} I might think about letting you in.
<br> DEBUGGING INFO: Error 401: Access denied
{% endblock %}
{% block script %}
{% endblock %}
