{% extends 'base.jinja' %}
{% block head %}
<title>Bad Request - Coding for kidz</title>
{% endblock %}
{% block body %}
oops the error is on your end.<br> extra info: 400 error Bad Request
{% endblock %}
{% block script %}
{% endblock %}
