{% extends 'base.jinja' %}
{% block head %}
<title>About us - Coding for kidz</title>
<meta name="Error 400 - Coding for Kidz">
{% endblock %}
{% block body %}
<div class="content-box">
    <center>
        <h1>Client error 400</h1>
        <p>The error is on your end<br><b>Extra info:</b> 400 error</p>
    </center>
</div>
{% endblock %}
{% block script %}
{% endblock %}
