{% extends 'base.jinja' %}
{% block head %}
<title>About us - Coding for kidz</title>
<meta name="Error 400 - Coding for Kidz">
{% endblock %}
{% block body %}
<div class="content-box">
    <center>
        <h1>Client error 405</h1>
        <p>You (or your browser) attempted to give us information from a form when we weren't expecting it.
            <br><b>Extra info:</b> 405 error</p>
    </center>
</div>
{% endblock %}
{% block script %}
{% endblock %}
