{% extends 'base.jinja' %}
{% block head %}
<title>Not Developed - Coding for kidz</title>
{% endblock %}
{% block body %}
<center>
    <h1>Not Developed</h1>
    <p>We are still making this awesome new page! Check back later.</p>
    <br>
    <button class="btn btn-link" onclick="window.history.back()">Return to the previous page</button>
    <br>
</center>
{% endblock %}
{% block script %}
{% endblock %}
