{% extends 'base.jinja' %}
{% block head %}
<link href="/static/css/style.css" rel="stylesheet">
<script
  src="https://browser.sentry-cdn.com/7.11.1/bundle.min.js"
  integrity="sha384-qcYSo5+/E8hEkPmHFa79GRDsGT84SRhBJHRw3+dbQyh0UwueiFP1jCsRBClEREcs"
  crossorigin="anonymous"
></script>
<title>Error - Coding for kidz</title>
{% endblock %}
{% block body %}
    <div style="text-align:center">
        <h1>Error</h1>
        <img src="/static/img/error-500.svg" alt="Person looking at server." height="50%" width="50%">

        <p>Something happened on our end, and we could not perform the requested action. Maybe you should return to what
            you had been previously doing, this
            error has </p>
        <noscript>not</noscript>
        been automatically reported.<br>
        <button class="btn btn-link" onclick="window.history.back()">Go back to what you were doing</button>
        <button class="btn btn-link" onclick="window.location = '/'">Go home</button>
        <br>
    </div>
{% endblock %}
{% if sentry_event_id %}
{% block script %}
<script>
    Sentry.init({ dsn: "https://ea8e9e0ead8b4237bb50efa99f27ee5a@o440973.ingest.sentry.io/5410703" });
    Sentry.showReportDialog({
        eventId: "{{ event_id }}",
    });
</script>
{% endblock %}
{% endif %}
