{% extends 'base.jinja' %}
{% block head %}
<title>Home - Coding for kidz</title>
<meta name="The test page of the Coding for kidz website">
{% endblock %}
{% block body %}
    <center>
        <h1>Coding for Kidz</h1>
    </center>
    <ul>
        <li><a href="/error-test/404/">404</a></li>
        <li><a href="/error-test/500/">500</a></li>
    </ul>
{% endblock %}
{% block script %}
{% endblock %}
