{% extends 'base.jinja' %}
{% block head %}
<title>I am a Teapot - Coding for kidz</title>
{% endblock %}
{% block body %}
The requested entity body is short and stout.
<br>You are seeing this message since you were trying to brew coffee in a teapot, the server has denied this request.
Unfortunately we cannot diagnose coffee pots!
<br><img alt="a teapot" height="500" src="coding-for-kidz.herokuapp.com/static/img/teapot.jpg" width="623.5">
{% endblock %}
{% block script %}
{% endblock %}
