{% extends 'base.jinja' %}
{% block head %}
<title>Articles - Coding for kidz</title>
<meta content="The articles page of the Coding for Kidz website" name="description">
{% endblock %}
{% block body %}
<h1>Articles</h1>
<p>No articles yet!</p>
{% endblock %}
{% block script %}
<script>
    $("#articles").addClass('active');
</script>
{% endblock %}
