{% extends 'base.jinja' %}
{% block head %}
<title>Packages - Coding for kidz</title>
{% endblock %}
{% block body %}
<center>
    <h1>Packages</h1>
</center>
<p>We recommend these packages to make coding easier.</p><br>
<ol>
    <li><a href="https://github.com/arihant2math/mathematics">The mathematics package</a></li>
    <li><a href="https://github.com/numpy/numpy/">Numpy</a></li>
</ol>

{% endblock %}
{% block script %}
<script>
    $("#packages").addClass('active');
</script>
{% endblock %}
