<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test {{ language }} code</title>
    <link href="/static/css/code_editor.css" rel="stylesheet">
</head>
<body>
<div id="editor"></div>

<script crossorigin="anonymous"
        integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q=="
        src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
{% endblock %}
{% block script %}
<script type="text/javascript">
            var a = window.location.href;
            let code = a.split('#')[1];
            code = code.replace("%20", " ");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/{{ language }}");
            editor.setValue(code);

</script>
</body>
</html>
{% endblock %}
