{% extends 'base.jinja' %}
{% block head %}
<title>Admin home - Coding for kidz</title>
{% endblock %}
{% block body %}
<h1>Articles</h1>

{% endblock %}
{% block script %}
    <script>
        $("#articles").addClass('active');
    </script>
{% endblock %}
