{% extends 'base.jinja' %}
{% block head %}
    <title>Offline - Coding for Kidz</title>
{% endblock %}
{% block body %}
    <center>
        <h1>You are Offline</h1>
        <img alt="Delivery Truck" src="/static/img/offline.svg" height="50%" width="50%">
        <p>You might want to check your Wi-Fi connection.</p>
    </center>
{% endblock %}
