{% extends 'base.jinja' %}
{% block head %}
    <title>Offline - Coding for Kidz</title>
{% endblock %}
{% block body %}
    <h1>You are Offline</h1>
    <p>You might want to check your Wi-Fi connection.</p>
{% endblock %}
