<style>
    .border {
        border-style: solid
    }

</style>
<script async src="/static/writer/writer-bundle.js" type="module"></script>
<link href="/static/css/writer.css" rel=stylesheet>


<script async>
    $("#content").hide();

</script>
