{# favicon #}
<link href="/static/favicon_ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="/static/favicon_ico/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/static/favicon_ico/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link color="#7a5c00" href="/static/favicon_ico/safari-pinned-tab.svg" rel="mask-icon">
<link href="/static/favicon_ico/favicon.ico" rel="shortcut icon">
<meta content="#da532c" name="msapplication-TileColor">
<meta content="/static/favicon_ico/browserconfig.xml" name="msapplication-config">
<meta content="#ffffff" name="theme-color">
