{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" style="float:right"
                        type="button">
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}