<footer>
    © 2021 by the Coding for kidz company. All rights reserved. <a href='/'>Home</a> &diams;
    <a href='/about'>About</a> &diams; <a href="/learn">Learn</a> &diams; <a href="/privacy">Privacy Policy</a>
    &diams; <a href="/tos">Terms of Service</a> &diams;
    <button class="btn btn-link no-underline" id="add-button"><span class="material-icons md-24">download</span>Install
    </button>
</footer>