<meta charset="utf-8">
<meta content="#C5C5C5FF" media="(prefers-color-scheme: light)" name="theme-color">
<meta content="#333333FF" media="(prefers-color-scheme: dark)" name="theme-color">
<meta content="black" name="theme-color">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="coding, kids, kidz, learn, learning, code" name="keywords">
<meta content="en" http-equiv="Content-Language">
<meta content="Coding for Kidz wobsite" name="name">
<meta content="This page is part of the Coding for Kidz website" name="description">
<meta content="en" name="locale">
<meta content="summary" name="twitter:card">
<meta content="https://www.coding-for-kidz.herokuapp.com/" name="twitter:url">
<meta content=”https://www.coding-for-kidz.herokuapp.com/” name="og:url">
<meta content="en" name="og:locale">
<meta content="website" name="og:type">
<meta content="width=device-width" name="viewport">
<meta content="follow" name="robots">
